#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: ;
}

button {
  margin: 20px;
}
/*HOME */

.home-container {
  height: 500px;
  width: 500px;
  background-image: url("./assets/home_background_new.jpg");
  background-position: center;
  background-size: 115%;
  padding-top: 150px;
}

.home-button {
  background-color: #b3b3fb7b;
  padding: 10px;
  border-radius: 5px;
}

.link-button {
  margin: 10px;
}

/*CREATE*/

.create-form {
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 550px;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 158, 228, 0.349);
  border-radius: 40% 20% 70% 30%;
}

.create-form .create-button {
  align-self: flex-center;
  margin: 20px;
}

/* label,
input {
  display: block;
} */

.create-form label {
  margin-bottom: 20px;
}

.card {
  padding: 2em;
}

.image-select {
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

/* GALLERY -*/

.project-list-item {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 20px;
}
.project-list-item:nth-child(1n) {
  background-color: rgb(192, 157, 225);
}
.project-list-item:nth-child(2n) {
  background-color: rgb(249, 149, 179);
}
.project-list-item:nth-child(3n) {
  background-color: rgb(247, 249, 149);
}
.project-list-item:nth-child(4n) {
  background-color: rgb(192, 246, 178);
}

/* 


/*GALLERY - PROJECT CARD */

.project-image {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li {
  list-style: none;
}

.project-card button {
  margin: 5px 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-bottom: auto;
}

/* GALLERY - PROJECT MODAL */
.modal-title {
  display: flex;
  align-items: center;
}

/*IDEAS*/

/*IMAGE IDEAS*/
.image-ideas button {
  margin: 0px 10px 10px 0px;
  background-color: rgb(219, 249, 249);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*YOUTUBE IDEAS*/
.youtube {
  background-color: aquamarine;
  width: 100%;
  height: 700%;
  border-radius: 20%;
  margin: 50px;
}

.youtube button {
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

iframe {
  padding-bottom: 0px 30px 30px 30px;
}

/* GENERAL */
.page-header {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #feae67;
  padding: 10px;
  border-radius: 10px;
}
