#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Poppins";

  --palest-purple: #e2e1ff;
  --light-purple: #b3b3fb;
  --mid-purple: #aba8ef;
  --dark-purple: #4d4670;
  --lightest-orange: #f9c693;
  --light-orange: #f6ae64;
  --dark-orange: #f49f44;
  --palest-pink: #dcb9e3;
  --mid-pink: #ffa0e4;
  --bright-pink: #e14c8e;
  --grey-blue: #517597;
}

button {
  margin: 20px;
}
/*HOME */

.home-container {
  height: 500px;
  width: 500px;
  background-image: url("./assets/images/home_background_new.jpg");
  background-position: center;
  background-size: 115%;
  padding-top: 150px;
}

.home-button {
  background-color: var(--light-purple);
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: none;
}

.link-button {
  margin: 10px;
}

/*CREATE*/

.create-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  background-color: var(--palest-pink);
  border-radius: 200% 100% 400% 400%;
}

.create-button {
  margin: 20px;
}

.create-form input {
  margin-bottom: 15px;
  margin-top: 3px;
}

.create-form select {
  margin-bottom: 15px;
  margin-top: 3px;
}

.image-select {
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

/* GALLERY -*/

.project-list-item {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.project-list-item:nth-child(1n) {
  background-color: var(--lightest-orange);
}
.project-list-item:nth-child(2n) {
  background-color: var(--palest-purple);
}
.project-list-item:nth-child(3n) {
  background-color: var(--light-purple);
}
.project-list-item:nth-child(4n) {
  background-color: var(--palest-pink);
}

/* 


/*GALLERY - PROJECT CARD */

.project-image {
  /* margin-bottom: 20px;
  margin-top: 10px; */
  max-height: auto;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li {
  list-style: none;
}

.button-container button {
  margin-right: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 10px 0px 20px 0px;
}

/* GALLERY - PROJECT MODAL */
.modal-content {
  display: flex;
  text-align: center;
  background-color: var(--palest-pink);
}

.modal-content h5 {
  color: #517597;
  font-weight: bold;
}
.project-modal {
  background-color: #ffe8d4;
  font-size: 16px;
}

.edit-project-form {
  background-color: #cac4ea;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.change-project-button {
  background-color: lightgrey;
  color: #517597;
}

.edit-project-form input[type="text"],
textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
}

.form-items button {
  margin: 5px;
}

.confirm-project-update {
  padding: 10px;
}

/*IDEAS*/

/*IMAGE IDEAS*/

.image-ideas-container {
  /* background-image: url("./assets/images/craft_tools.jpg"); */
  position: relative;
}

.image-buttons {
  padding-top: 10px;
  width: 100%;
}

.image-buttons button {
  margin: 0px 10px 10px 0px;
  background-color: var(--palest-pink);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-ideas {
  background-color: #cac4ea;
}
/*YOUTUBE IDEAS*/

.youtube-container {
  position: relative;
}

.youtube-buttons {
  padding-top: 10px;
  width: 100%;
}

.youtube-buttons button {
  margin: 0px 10px 10px 0px;
  background-color: var(--mid-purple);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-container {
  position: relative;
  width: 100%;
}
/* .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* GENERAL */
.page-header {
  margin-bottom: 20px;
  margin-top: 20px;

  padding: 10px;
  border-radius: 10px;
}
